* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-image:linear-gradient(#414242,#b9cbcc);
    min-height: 100vh;
    overflow: hidden; 
}
.space {
    height: 20px;
}
.about  {
    display: block;
    position: relative;
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
    font-family: sans-serif;
    font-style: Arial Black;
}

 .wrapper{
     height: 420px;
     width: 420px;
     display: flex;
     flex-wrap: wrap;
     margin: 70px auto;
     border: 10px ridge rgba(41, 46, 24, 0.6);
     align-content: flex-start;
}
.wrapper_lay {
    display:flex;
    justify-content: center;
}

.wrapper_lay1 {
    display:flex;
    justify-content: center;
}

.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 4px ridge rgb(100, 100, 100);
    background-color: black;
}
img{
    display:block;
    position: relative;
    right: 3px;
    bottom: 3px;
}

body .wrapper .wrapper_lay .heh {
    background-color : red;
    border-style: dashed;
}
body .wrapper .wrapper_lay1 .heh {
    background-color : red;
    border-style: dashed;
}

.wrapper_lay1 div:nth-child(2n){
    background-color: white;
}

.wrapper_lay div:nth-child(2n+1){
    background-color: white;
}

.image_knight {
    background-image : url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0NSIgaGVpZ2h0PSI0NSI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMS41IiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwYXRoIGQ9Ik0yMiAxMGMxMC41IDEgMTYuNSA4IDE2IDI5SDE1YzAtOSAxMC02LjUgOC0yMSIgZmlsbD0iI2ZmZiIvPjxwYXRoIGQ9Ik0yNCAxOGMuMzggMi45MS01LjU1IDcuMzctOCA5LTMgMi0yLjgyIDQuMzQtNSA0LTEuMDQyLS45NCAxLjQxLTMuMDQgMC0zLTEgMCAuMTkgMS4yMy0xIDItMSAwLTQuMDAzIDEtNC00IDAtMiA2LTEyIDYtMTJzMS44OS0xLjkgMi0zLjVjLS43My0uOTk0LS41LTItLjUtMyAxLTEgMyAyLjUgMyAyLjVoMnMuNzgtMS45OTIgMi41LTNjMSAwIDEgMyAxIDMiIGZpbGw9IiNmZmYiLz48cGF0aCBkPSJNOS41IDI1LjVhLjUuNSAwIDEgMS0xIDAgLjUuNSAwIDEgMSAxIDB6bTUuNDMzLTkuNzVhLjUgMS41IDMwIDEgMS0uODY2LS41LjUgMS41IDMwIDEgMSAuODY2LjV6IiBmaWxsPSIjMDAwIi8+PC9nPjwvc3ZnPg==');
}

body  input{
    display: block;
    margin: 50px auto;
    height: 50px;
    width: 200px;
    background-color: rgb(133, 130, 130);
    border-width: 10px;
}

.message {
    display: none;
    position: absolute;
    background-image:linear-gradient(#f0f0f0,#313131);
    height: 300px;
    width: 800px;
    left: 350px;
    bottom: 300px;
    border: 5px solid black;
}

.changer {
    display: block;
}

.message_close_btn {
    display: none;
}